.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form label{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.form textarea{
    height: 30vh;
}

.form input, textarea{
    width: 85%;
    margin: 0.2rem auto;
    border: 2px solid grey;
    border-radius: 15px;
    height: 6vh;
    color: rgb(38, 38, 38);
    font-weight: bolder;
}

.form button{
    width: 85%;
    margin: 1.5rem auto;
}

